gensim/*
gensim1/*
*.pkl
*.db
*.zip
*.csv
*.pth
*/*.tar.gz
*/*.pkl
*/*.db
*/*.zip
*/*.csv
*/*.pth

.ipynb_checkpoints/


*/Reddit/models/final-classifier-2.tar.xz

*/Reddit/models/final-classifier.tar.xz

*/Reddit/title_bow_counts.pkl
*/Reddit/title_bow_counts

