[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
praw = "*"
requests = "*"
bs4 = "*"
pandas = "*"
jupyterlab = "*"
numpy = "*"
gensim = "*"
scikit-learn = "*"

[requires]
python_version = "3.8"
